# Ignore build output directory
/build

# Ignore object files and dependent files
*.o
*.d

# Ignore logs folder and log files
/logs
*.log

# Ignore lock files
*.lock

# Ignore binaries and design files
*.bin
*.pdi

# Ignore the shef_zu1cg folder
/shef_zu1cg/